<h1>Todo</h1>
<div class="container">
  <form [formGroup]="useForm" (ngSubmit)="saveTodo()">
    <div class="row">
      <mat-label class="pt-10px">Description: </mat-label>
      <mat-form-field appearance="outline" class="mx-2" style="width: 500px">
        <input
          matInput
          formControlName="description"
          placeholder="Please input description"
        />
        <mat-error *ngIf="useForm?.get('description')?.hasError('required')">
          Description is required
        </mat-error>
        <mat-error *ngIf="useForm?.get('description')?.hasError('minlength')">
          Description is too short
        </mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="showUpdate" class="row">
      <mat-label class="pt-10px">Is Complete: </mat-label>
      <mat-radio-group formControlName="done">
        <mat-radio-button value="true">Done</mat-radio-button>
        <mat-radio-button value="false">Not Done</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="row">
      <mat-label class="pt-10px">Target Date: </mat-label>
      <mat-form-field appearance="outline" class="mx-2" style="width: 500px">
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="targetDate"
          placeholder="Please input target Date"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="useForm.get('targetDate')?.hasError('required')">
          Target Date is required
        </mat-error>
      </mat-form-field>
    </div>

    <button mat-raised-button class="btn btn-success" type="submit">
      Save
    </button>
  </form>
</div>

<!-- <div class="container">
  <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">
    Enter valid values
  </div>
  <div class="alert alert-warning" *ngIf="todoForm.dirty && targetDate.invalid">
    Enter valid targetDate
  </div>
  <div
    class="alert alert-warning"
    *ngIf="todoForm.dirty && description.invalid"
  >
    Enter atleast 5 character
  </div>

  <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
    <fieldset class="form-group">
      <label>Description</label>
      <input
        #description="ngModel"
        [(ngModel)]="todo.description"
        class="form-control"
        type="text"
        name="description"
        required="required"
        minlength="5"
      />
    </fieldset>
    <fieldset class="form-group">
      <label>Target Date</label>
      <input
        #targetDate="ngModel"
        [ngModel]="todo.targetDate | date : 'yyyy-MM-dd'"
        (ngModelChange)="todo.targetDate = $event"
        class="form-control"
        type="date"
        name="targetDate"
        required="required"
      />
    </fieldset>
    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div> -->
