/* You can add global styles to this file, and also import other style files */
@import url("https://unpkg.com/bootstrap@4.1.1/dist/css/bootstrap.min.css");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-form-field-infix {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  min-height: 0 !important;
}

.mdc-label {
  margin: 0px;
}

.pt-10px {
  padding-top: 10px;
}

.mat-sort-header-arrow {
  color: white;
}
